# user-api variables
SECRET_KEY=****
DEBUG=False
ALLOWED_HOSTS=localhost

EMAIL_HOST_USER=domain@example.com
EMAIL_HOST_PASSWORD=****

# db variables
POSTGRES_DB=db_name
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=****

# web variables
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000/api/v1/

# redis variables
REDIS_LOCATION=redis://redis:6379/1